html{
    height:100%;
    
  }

.loading-container{
      height:100vh;
  }

.loading-content-heading{
    margin-bottom: 20px;
}  

.loading-content-heading h1{
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 400%;

  }

#loading-container-id{
    /* background-image: linear-gradient(rgba(30,0,0,1),rgba(50,0,0,1),rgba(69,0,0,1),rgba(89,0,0,1),rgba(108,0,0,1),rgba(80,0,0,1)); */
 
    background-image: radial-gradient(ellipse at bottom, rgba(69,0,0,1) 0%, rgb(29, 5, 5) 100%);
}  

.loading-container h3{
 
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;

}
.loading-container .container-fluid{
    height:100%;
}


.load-fragment{
    /* width:1%; */
    height:5px;
    background-color:#efefef;
}

.div-hide{
    display:none;
}



#home-portfolio-btn{
    width:100%;
    margin-top: 40px;
    height: 100%;
    
}

#home-contact-btn{
    width:100%;
    margin-top: 40px;
    height: 100%;
    
    
}
 
.home-content-container{

    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    z-index:10;
}



/*


TRYING


*/

@-webkit-keyframes page_animation{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes page_animation{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.animate_page_load{
    -webkit-animation-name: page_animation;
            animation-name: page_animation;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;

}

.home-content{
    position:absolute;
    width:100%;
    
    height: 100vh;
    z-index: 10;
}

.home-center-content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:100%;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;

}

.home-center-content h1,
.home-center-content h5{

    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    

}

.section-background-animation{
    background-image: linear-gradient(rgba(30,0,0,1),rgba(69,0,0,1));
    /* background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(bg-home.jpg); */
    background-position: center;
    background-size: cover;
    width:100%;
    height: 100vh;


}

.animation-container{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bg-p-container{
    position: absolute;
    display: block;
    z-index: 1;
 
    transform: rotate3d(1, 0, 0, 45deg);
    transition: transform 3s;
  
}

.bg-pattern{

    
    width:120px;
    height:120px;
    border: 16px solid #800000;
    list-style: none;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #800000;
    transform: rotate(40deg);

}



.bg-p-container:nth-child(1){
    
    top:10%;
    left:10%;
    opacity:0.5;
    

}

.bg-p-container:nth-child(2){
    
    top:70%;
    left:10%;
    opacity:0.5;

}

.bg-p-container:nth-child(3){
    
    top:10%;
    left:80%;
    opacity:0.5;

}

.bg-p-container:nth-child(4){
    
    top:70%;
    left:80%;
    opacity:0.5;

}

.bg-p-container:nth-child(5){
    
    top:40%;
    left:45%;
    opacity:0.5;
    

}

.row-for-home-btn .col-md-4{
    margin: 20px;
}


.row-for-home-btn .btn-outline-dark {
    color: #19355c;
    background-color: transparent;
    background-image: none;
    border-color: #fff;
    transform: scale(0.95);
    transition: transform 2s;
  }
  
  .row-for-home-btn .btn-outline-dark:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transform: scale(1);

  }
  
  .row-for-home-btn .btn-outline-dark:focus, .btn-outline-dark.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }
  

  
  .row-for-home-btn .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
  .show > .btn-outline-dark.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    transform: scale(1);

  }
  
  .row-for-home-btn .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
  .show > .btn-outline-dark.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  }




/*


TRYING


*/
