
@keyframes fade_content_animation{

    from{
        opacity:0.8;
    }
    to{
        opacity:1;
    }
}

.fade_content{
    animation-name: fade_content_animation;
    animation-duration: 1s;
}

.custom_row_upper{

    height: 250px;
}



.upper_col_left{
    border-bottom: 1px solid #800000;
    border-right: 1px solid #800000;
}


.upper_col_left h1{
    margin-top: 10px;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 400%;
}

.upper_col_left h3{
    margin-top: 20px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 200%;
  }

  .upper_col_left h5{
   
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 200%;
    font-style: italic;
  }

.upper_col_right{
    border-bottom: 1px solid #800000;
    padding:0;
   
}


.custom_cf_right_nav{
    height:100%;
  

}

.row_right_navigation{
    height:100%;
    
    
}

.row_right_navigation .col-md-6{
    padding-left:0;
    padding-right:0;
    
    
}
.row_right_navigation .col-md-12{
    padding-left:0;
    padding-right:0;
    
    
}

.row_right_navigation .col-md-6 button{
    width:100%;
    height:100%;
    border-radius: 0%;
    
    
}

.row_right_navigation .col-md-12 button{
    width:100%;
    height:100%;
    border-radius: 0%;
    
    
}

.row_right_navigation .col-md-6:nth-child(1){
    border-bottom: 1px solid #800000;
    border-right: 1px solid #800000;

}

.row_right_navigation .col-md-6:nth-child(2){
    border-bottom: 1px solid #800000;
    

}

.rr_navigation_text{

   
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 120%;
}


.custom_row_lower{
     height:400px;
    /* width:100%; */
}


.custom_row_lower #web_demo_dhruma_col{

    border-right: 1px solid #800000;
    border-bottom: 1px solid #800000;

}

.custom_row_lower #web_demo_davinci_col{

   
    border-bottom: 1px solid #800000;

}

.pf_footer .container-fluid{
height:100px;

}



.custom_row_lower .col-md-6{
  
    height:100%;

   
}

.web_demo_content{
    height: 100%;
    width: 100%;

   

}


#web_demo_dhruma_col .web_bg_content{
    width:80%;
    height:80%;
    margin: 5% auto;
  
    background-image: url(dhrumawebsite.png);
    /* background-image: radial-gradient(black 10%,transparent 90%), url(dhrumawebsite.png); */

    background-position: center;
    background-size: cover;
    border-radius: 10px;
  

   
}

#web_demo_davinci_col .web_bg_content{
    width:80%;
    height:80%;
    margin: 5% auto;
    background-image: url(davinciwebsite.png);
    /* background-image: radial-gradient(black 10%,transparent 90%), url(davinciwebsite.png); */

    background-position: center;
    background-size: cover;
    border-radius: 10px;
    /* box-shadow: 5px 5px 10px grey; */

    
 
}


.web_bg_content{

    cursor: pointer;
}

.link_box{
    position:absolute;
    width:60%;
    height: 60%;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
   
    /* border: 3px solid red; */
}

.link_content{
    width:100%;
    height:100%;
    
    transform: scale(0.95);
    transition: transform 0.2s, background-image 0.2s;
}


.link_content button{
    width: 100%;
}

.link_content:hover{
    transform: scale(1);
    background-image: radial-gradient(black 10%,transparent 90%);
  
}

.row_link{
    opacity: 0;
    transition: opacity 0.2s;
}



.div-hide{
    display: none;
}

.overview{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: calc(100% - 500px);
  
    /* margin: 0 auto; */
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #800000;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 110%;
    
    

}

.overview .btn{
    border-radius: 0;
}


.overview .btn-danger {
 
    background-color: #800000;
    border-color: #800000;
  }
  
  .overview .btn-danger:hover {
  
    background-color: #7a1a1a;
    border-color: #792222;
  }

 
  
  


.overview_content{
    padding:10px !important;
    
}


.overview .col-md-12{
    padding:0;

}

.overview button{
    width:100%;
   
}

.overview img{
    width:100%;
    /* margin-left: -0.5px; */
}


  





