<!doctype html>
{% load staticfiles %}
<html lang="en">
<head>   
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  

  <!-- CSS -->
 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'pf_home/css/pf_home.css' %}">
</head> 
<title>
    JrK
</title> 

<body>

<div class="home-content animate_page_load">

  <div class="home-center-content">

  
        <div class="container h-100 text-white">

                
            <div class="row justify-content-md-center">
                <div class="col-md-12 text-center">
                    <h1>Jithin Reji Koshy</h1>

                    <h5>Web Development</h5>

                    <div class="container">
                        <div class="row row-for-home-btn justify-content-md-center text-white">
                                <div class="col-md-4">
                                <a href="{% url 'pf_home:portfolio' %}"><button class="btn btn-outline-dark text-white" id="home-portfolio-btn">Portfolio</button>
                                
                                </div>
                                <div class="col-md-4">
                                    <a href="{% url 'pf_home:contact' %}">  <button class="btn btn-outline-dark text-white" id="home-contact-btn">Contact</button>
                                    </a> 
                                    </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>   
    </div>   

</div>

<div class="section-background-animation">
    <div class="animation-container">
        
       <div class="bg-p-container">
          <div class="bg-pattern"></div>
       </div> 
       <div class="bg-p-container">
        <div class="bg-pattern"></div>
     </div> 
     <div class="bg-p-container">
        <div class="bg-pattern"></div>
     </div> 
     <div class="bg-p-container">
        <div class="bg-pattern"></div>
     </div> 
     <div class="bg-p-container">
        <div class="bg-pattern"></div>
     </div> 
        
        <!-- <ul>
            <li class="bg-pattern"></li>
        </ul> -->
    </div>    
</div>
    
    


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'pf_home/js/pf_home.js' %}"></script>
</body>

</html>